<!DOCTYPE html>
<html>
<head>
    <title>Регистрация игрока</title>
</head>
<body>
    <h1>Создать нового игрока</h1>
<form method="POST">
    <label>Имя:</label><br>
    <input type="text" name="name"><br><br>

    <label>Раса:</label><br>
    <select name="race"> <!-- добавлено -->
        <option>Человек</option>
        <option>Орк</option>
        <option>Эльф</option>
        <option>Лесной Эльф</option>
        <option>Чупакабра</option>
    </select><br><br>

    <label>Класс:</label><br>
    <select name="player_class"> <!-- имя, как в Python -->
        <option value="Воин">Воин</option>
        <option value="Маг">Маг</option>
        <option value="Разбойник">Разбойник</option>
    </select><br><br>

    <input type="submit" value="Зарегистрировать">
</form>

</html>
